.products-container {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
  }
  
  .ant-table {
    background: rgba(5, 212, 231, 0.1) !important;
    border-radius: 10px;
  }
  
  .ant-table-thead > tr > th {
    background: rgba(14, 183, 226, 0.7);
    color: #05dbd7;
    font-weight: bold;
  }
  
  .ant-table-tbody > tr > td {
    background: rgba(0, 0, 0, 0.5);
    color: #e50000;
  }
  
  .ant-btn-default {
    color: #ad08da;
    border: 1px solid rgba(22, 211, 224, 0.5);
    background: rgba(0, 0, 0, 0.5);
  }
  
  .ant-btn-default:hover {
    color: #000;
    border: 1px solid rgba(255, 0, 255, 0.7);
    background: rgba(255, 0, 255, 0.5);
  }
  
  .ant-btn-default:focus {
    color: #000;
    border: 1px solid rgba(8, 238, 246, 0.7);
    background: rgba(255, 0, 255, 0.5);
  }
  
  .action-icons {
    color: rgba(11, 236, 233, 0.7);
    cursor: pointer;
  }
  
  .action-icons:hover {
    color: rgb(7, 205, 209);
  }
  